#landingpage{
    font-size: x-large;
    text-align: center;
    background-size: cover;
    height: 100px;
    background-repeat: no-repeat;
}
h2{
    margin-top: 140px;
    
}
h1{
    text-align: center;
}
#landing{
    background-image: url(media/pink.webp);
    background-size: cover;
    height: 970px;
    background-repeat: no-repeat;
}

#navbar{
    justify-content: center;
    display: flex;
    gap: 20%;
    list-style-type: none;
    background-color: rgb(217, 243, 243);
    height: 10%;

}
.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
  }


#navbar a{
 text-decoration: none;;
 margin-top: 1%;


}
.h2{
    font-size: xx-large;
    
}
#homepage{
    text-align: center;
    background-color:aqua;
    padding: 50px;

}
#text{
    text-decoration: none;
    color:rgb(116, 37, 9);
    font-size: xx-large;
    
}
a:hover{
    background-color: rgb(221, 188, 188);
}

button{
    
    color:rgb(116, 37, 9);
    background-color: aqua;
    border-radius: 50px;
    height: 40px;
    width: 80px;
    margin-left: 90%;
    font-size: medium;
    margin-top: 2%;
    border: none;
    
    
}
button:hover {
    background: rgb(212, 196, 196);
  }
  

  .images{
    display: flex;
    justify-content: space-around; 
}
.image{
    width:190px ;
}
img{
    width: 10px;
    height: 280px;
    transition: transorm 4.25s ease;
    cursor: zoom-in;
}
img:active{
    -webkit-transition: scale(2);
    transform: scale(2);
    cursor: -webkit-zoom-out;
}

figcaption{
    font-size: larger;
    color: rgb(116, 37, 9);
    text-align: center;
}


#roses{
    display: flex;
    justify-content: space-evenly;
    gap: 12;
   
}
img{
    width: 200px;
    transition: transform 5.25s ease;
    cursor: -webkit-zoom-in;
}
img:active{
    -webkit-transition: scale(2);
    transform: scale(2);
    cursor: -webkit-zoom-out;
}

.close{
position: absolute;
right:9px;
top: 210px;
padding: 10px 14px 10px 14px
}
.close:hover{
    background-color: rgb(170, 219, 219);
    color: rgb(58, 53, 53);
}
figcaption{
    text-align: center;
    color: rgb(116, 37, 9);
}
.flower{
    height: 280px;
}

@media only screen and (max-width:768px){
    body{
     width: 74% ;
     white-space: 0px;
    
    }
    .image{
        width:100px ;
    }
    img{
        width: 100px;
        height: 100px;
        transition: transorm 4.25s ease;
        cursor: zoom-in;
    }
    #roses{
        flex-wrap: wrap; 
    }
    img{
        width: 200px;
        transition: transform 5.25s ease;
        cursor: -webkit-zoom-in;
    }
    img:active{
        -webkit-transition: scale(2);
        transform: scale(2);
        cursor: -webkit-zoom-out;
    }
    .flower{
        height: 110px;
    }
    .images{
        flex-wrap: wrap;
        justify-content: space-around; 
    }
    .image{
        width:190px ;
        height: 100px;
    }
    button{
    
        color:rgb(116, 37, 9);
        background-color: aqua;
        border-radius: 50px;
        height: 40px;
        width: 80px;
        margin-left: 70%;
        font-size: medium;
        margin-top: 2%;
        border: none;
        
        
    }
    button:hover {
        background: rgb(212, 196, 196);
      }
      #landing{
        background-image: url(media/pink.webp);
        background-size: cover;
        height: 515px;
        background-repeat: no-repeat;
    }
    
   
}


