.images{
    display: flex;
    justify-content: space-evenly; 
}
img{
    width: 350px;
    height: 550px;
    transition: transorm 4.25s ease;
    cursor: zoom-in;
}
img:active{
    -webkit-transition: scale(2);
    transform: scale(2);
    cursor: -webkit-zoom-out;
}

figcaption{
    font-size: larger;
    color: rgb(116, 37, 9);
    text-align: center;
}
.btn-close{
    border: 0;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
    color: black;
}
.btn-close:hover{
    opacity: 0.9;
    background-color: brown;
}
button{
overlay: right;
}

